@model IEnumerable<BeerSpot.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<h2 class="mt-3 text-center">Users</h2>

<p class="offset-1">
    <a href="@Url.Action("Create","UsersAdmin")" class="btn btn-lg btn-warning">Create a User</a>
</p>
<div class=" offset-1 col-md-10">
    <table class="table" id="userTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable();
        });
    </script>
    }