@model BeerSpot.DATA.EF.Brewer

@{
    ViewBag.Title = "Add a Brewer";
}

<h2 class="text-center mt-3 mb-3">@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal contact-form col-md-8 offset-2">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
           
            <div class="offset-1 col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder="Brewery" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            <div class="offset-1 col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control",placeholder="Street Address" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            <div class="offset-1 col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder="City" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            <div class="offset-1 col-md-10">
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", placeholder="State" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            <div class="offset-1 col-md-10">
                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control", placeholder="Zip Code" } })
                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            <div class="offset-1 col-md-10">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", placeholder="Country"} })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            <div class="offset-1 col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder="Phone" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2 offset-1" })
            <div class="offset-1 col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 offset-1">
                <input type="submit" value="Add Brewer" class="btn btn-lg btn-warning" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancel", "Index", null, new { @class= "btn btn-lg btn-danger offset-1"})
</div>
