@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center mt-3">@ViewBag.Title</h2>

<p class="offset-1">
   <a href="@Url.Action("Create","RolesAdmin")" class="btn btn-lg btn-warning">Create a Role</a>
</p>
<div class="offset-1 col-md-10">
    <table id="rolesTable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#rolesTable').DataTable();
        });

    </script>
    }